@media (max-width: 575px) {

  #headshot {
    width: 30%;
  }

  /* header sizes */

  #page-title {
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.5em;
    color: black;
  }
  #subtitle {
    font-family: 'Trocchi', serif;
    font-size: 0.8em;
  }

  /* content text */

  #index-content {
    font-family: 'Trocchi', serif;
    font-size: 0.7em;
  }

  #blog-content {
    display: none;
  }

  #portfolio-content {
    display: none;
  }

  /* welcome paragraphs */

  #paragraph1 {
    display: none;
  }

  /* Portfolio Cards */

  .portfolio-listing {
    margin: auto;
    height: 60%;
    width: 0 auto;
    padding-top: 5px;
    background-color: #ADD8E6;
    border-radius: 5%;
    border: 2px solid #535353;
    box-shadow: 10px 10px 5px gray;
  }

  .blog-listing {
    height: 250px;
  }

  /* Blog Page */

  #blog-home-title {
    font-size: 0.2em;
    padding-bottom: 5px;
  }

  .blog-card-wrapper {
    width: 100%;
    /*justify-content: center space-between;*/
    background-color: white;
    padding-bottom: 5px;
  }


  .blog-card-header {
    display: flex;
    flex-direction: row;
    justify-content: center space-between;
    margin: 10px;
    padding: 10px;
  }

  .blog-card-title h1 {
    font-size: 0.5em;
  }

  .blog-card-picture {
    display: none;
  }

  .blog-card-content .blog-card-snippet {
    padding-right: 0;
    width: auto;
    font-size: 2vh;
  }

  #blog-readmore {
    font-size: 8px;
    text-decoration: none;
  }

  #blog-readmore a:hover {
    text-decoration: none;
  }

  #blog-date {
    width: auto;
    font-size: 12px;
  }

  #blog-readmore {
    width: auto;
  }

  #blog-readmore a {
    font-size: 28px;
  }

  .post-divider h1 {
    display: none;
  }

  .blog-nav {
    display: none;
  }

}
