@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower|Permanent+Marker|Trocchi|Abril+Fatface|Open+Sans+Condensed:300');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: flex;
  flex-direction: column;
  background-color: #222;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Routes .navbar {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, p {
  color: black;
}


#title-heading {
font-family: 'Abril Fatface', cursive;
font-size: 300%;
color: white;
}

#title-linetwo {
  font-family: 'Indie Flower', cursive;
  color: white;
}

#title-linethree {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 300%;
  color: white;
  display: inline-block;
}

#heading-img {
  display: inline-block;
}

#page-title {
  font-family: 'Trocchi', serif;
  color: white;
  font-size: 300%;
}

#index-content {
  font-size: 110%;
}

#index-content #signature {
  font-size: 110%;
}

#signature {
  font-family: 'Indie Flower', cursive;
  color: white;
}

#specific-welcome {
  color: white;
}


/* Set the fixed height of the footer here */
.footer {
  height: 60px;
  background-color: #f5f5f5;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  width: auto;
  max-width: 0 auto;
  padding: 0px 15px;
}
.container .credit {
  margin: 20px 0;
}

.item-listing {
  background-color: #DDDDDD;
  border: 3px solid #0074D9;
}

.blog-listing {
  background-color: white;
  border: 2px solid #535353;
}

#blog-title {
  font-family: 'Trocchi', serif;
  color: white;
  font-size: 300%;
  text-shadow: 2px 4px 3px gray;
}

#blog-content {
  color: black;
  font-size: 140%;
}

#form-label {
  color: white;
}

.main-content {
text-align: center;
}

[class*="span"].centred {
  margin-left: auto;
  margin-right: auto;
  float: center;
}

#flash {
  color: red;
}
